{
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": false,
	"arrowParens": "always",
	"jsxSingleQuote": false,
	"useTabs": true,
	"experimentalTernaries": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["clsx"],
	"endOfLine": "lf"
}
